<!DOCTYPE html>
<html>
<head>
  <%- include('partials/head.ejs') %>
  <style>
    body{ 
        background-image: url("<%= image %>");
        background-size: cover;
    }
  </style>
</head>
<body>
 <main class="page-content">
    <%- include('partials/nav.ejs') %>
    <img class="planet-img" src="/img/solar-system.jpg">
 </main>
    <%- include('partials/footer.ejs') %>
</body>

</html>
